name: cdk-deploy

on: workflow_dispatch

env: 
  AWS_REGION: ap-south-1

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Install AWS CDK
        run: npm install -g aws-cdk
      
      - name: Install Python
        run: |
          sudo apt update
          sudo apt install -y python3-full python3-venv

      - name: Create venv
        run: python3 -m venv .venv

      - name: Install deps
        run: |
          source .venv/bin/activate
          pip install -r requirements.txt

      - name: CDK Deploy
        run: |
          source .venv/bin/activate
          cdk deploy --require-approval never
